.footer__column-link {
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: 0.5s;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}
