.feynman {
  background: url('../../images/feinman.png') bottom left/867px 637px no-repeat;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

